.card {
  border: 0;
  margin-bottom: 30px;
  margin-top: 30px;
  border-radius: 6px;
  color: $gray-dark;
  background: $white-color;
  width: 100%;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
  display: flex;
  flex-direction: column;
  position: relative;

  .card-header {
    z-index: 3 !important;
    margin-top: -20px;
    border-radius: 3px;
    padding: 10px;
    margin: -20px 15px 0px 15px;

    .card-title{
      margin-top: 0;
      margin-bottom: 3px;
      color: $white-color;
    }
  }

  .card-body {
    display: block;
    padding: 10px;
  }

  .card-header-primary {
    background: linear-gradient(60deg, $purple-400, $purple-600);
    @include shadow-big-color($brand-primary);
  }
}
