@import "interaction_effects/interaction_effects.scss";

$sidebarWidth: 200px;

*, :after, :before {
  box-sizing: border-box;
}

h4 {
  font-size: 1.125rem;
  font-weight: 300;
}

body {
  margin: 0;
  font-weight: $font-weight-light;
}

.wrapper {
  position: relative;
  top: 0;
  height: 100vh;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: $sidebarWidth;
  background: $white-color;
  box-shadow: 0 16px 38px -12px rgba(0,0,0,.56), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
  background-color: $sidebar-bg;

  .sidebar-wrapper{
    height: 100%;
    overflow: auto;
  }

  .nav {
    margin-top: 20px;
    padding-left: 0;
    margin-bottom: 0;
    display: block;
    list-style: none;


    li {
        > a{
          margin: 10px 15px 0;

          &:hover,
          &:focus{
              background-color: transparent;
              outline: none;
          }
        }


        &:hover > a,
        & .dropdown-menu a:hover,
        & .dropdown-menu a:focus,
        &.active > [data-toggle="collapse"]{
            background-color: rgba(200, 200, 200, 0.2);
            color: $black-color;
            box-shadow: none;
        }

        &.active > [data-toggle="collapse"]{
            i{
                color: #a9afbb;
            }
        }

        &.active > a,
        &.active > a i{
            color: $white-color;
        }

        &.separator{
            margin: 15px 0;

            &:after{
                width: calc(100% - 30px);
                content: "";
                position: absolute;
                height: 1px;
                left: 15px;
                background-color: rgba(180,180,180, .3);
            }

            & + li {
                margin-top: 31px;
            }
        }
    }

    .nav-link {
      display: block;
      padding: .3rem .8rem;
      text-decoration: none !important;
      border-radius: 3px;
      color: $black-color;
    }

    p{
        margin: 0;
        line-height: 30px;
        font-size: 14px;
        position: relative;
        display: block;
        height: auto;
        white-space: nowrap;
    }
  }

  &[data-color="purple"] {
    @include set-background-color-button($brand-primary);
  }
}

.main-panel {
  position: relative;
  float: right;
  width: calc(100% - #{$sidebarWidth});
  transition-property: top, bottom, width;
  transition-duration: .2s, .2s, .35s;
  transition-timing-function: linear, linear, ease;
  transition: .33s,cubic-bezier(.685,.0473,.346,1);
  height: 100%;
  background-color: $main-panel-bg;
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.box {
  cursor: pointer;
  position: relative;
  margin: .3125rem 1px;
  font-size: .75rem;
  line-height: 1.428571;
  text-decoration: none;
  border: 0;
  border-radius: .2rem;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
  background-color: $brand-primary;
  color: $white-color;
  width: 7rem;
  height: 3rem;
  line-height: 3rem;
  vertical-align: middle;
}
