$white-color: #fff !default;
$black-color: #3C4858 !default;
$brand-primary:              $purple-500 !default;
$gray-dark: rgba($black, 0.87) !default;

$sidebar-bg: #f3f6f8;
$sidebar-color: $black-color;
$main-panel-bg: #eeeeee;

$box-default-bg: #fafafa;
$box-default-color: #666666;
