@import '../variables';

@mixin loading {
  @include optimize();

  position: absolute;
  border:5px solid;
  border-radius:50%;
  border-color:rgba(255, 255, 255, 0.7) transparent transparent;
  top:0;
  bottom:0;
  left:0;
  right:0;
  opacity: 0;
  @include prefixed(transform, rotate(0deg));
  @include prefixed(animation-name, #{$nameSpace}-loading);
  @include prefixed(animation-duration, 2s);
  @include prefixed(animation-timing-function, linear);
}

@include keyframes(#{$nameSpace}-loading) {
  1% {
    opacity: 1;
  }
  99% {
    @include prefixed(transform, rotate(360deg));
    opacity: 1;
    // filter:hue-rotate(360deg); color can change
  }
  100% {
    opacity: 0;
  }
}

@mixin loading2 {
  @include optimize();

  position: absolute;
  background-clip: content-box;
  padding: 2.5px;
  border-radius:50%;
  border: 2.5px dashed $primaryColor;
  top:-5px;
  bottom:-5px;
  left:-5px;
  right:-5px;
  opacity: 0;
  @include prefixed(transform, rotate(0deg));
  @include prefixed(animation-name, #{$nameSpace}-loading2);
  @include prefixed(animation-duration, 700ms);
  @include prefixed(animation-timing-function, linear);
}

@include keyframes(#{$nameSpace}-loading2) {
  1% {
    opacity: 1;
  }
  99% {
    @include prefixed(transform, rotate(90deg));
    opacity: 1;
    // filter:hue-rotate(360deg); color can change
  }
  100% {
    opacity: 0;
  }
}

@mixin morph {
  @include optimize();

  @include prefixed(transform, rotate(0deg));
  @include prefixed(animation-name, #{$nameSpace}-morph);
  @include prefixed(animation-duration, 8s);
  @include prefixed(animation-timing-function, ease-in-out);
}

@include keyframes(#{$nameSpace}-morph) {
	50% {
		border-radius:  30% 60% 70% 40% / 50% 60% 30% 60%;
	}

	100% {
		border-radius:  60% 40% 30% 70% / 60% 30% 70% 40%;
	}
}
