<!doctype html>
<html lang="en">

<head>
  <title>Interaction Effects</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <!-- Material Kit CSS -->
  <link href="/assets/css/main.css" rel="stylesheet" />
  <script src="/assets/js/sidebar.js"></script>
</head>

<body>
  <div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="white">
      <!--
      Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

      Tip 2: you can also add an image using data-image tag
  -->
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li id="hoverNavItem" class="nav-item">
            <a class="nav-link" href="/">
              <p>Click</p>
            </a>
          </li>
          <li id="clickNavItem" class="nav-item">
            <a class="nav-link" href="/click">
              <p>Others</p>
            </a>
          </li>
          <!-- your sidebar here -->
        </ul>
      </div>
    </div>
    <div class="main-panel">
      {{ content }}
    </div>
  </div>
</body>

</html>

